.profileContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
  align-items: center;

  background-color: var(--base-profile);
  border-radius: 10px;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, .2);

  >img {
    aspect-ratio: 1/1;
    width: 9.25rem;
    height: 9.25rem;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }

  .bioContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;

    .bioHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      >h1 {
        font-family: Nunito;
        font-weight: 700;
        line-height: 130%;
        color: var(--base-title);
        font-size: 1.5rem;
      }

      >a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        border-bottom-color: transparent;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transition: border-color 0.2s ease-in-out;

        &:hover {
          border-color: var(--blue);
        }

        >p,
        svg {
          color: var(--blue);
        }

        >p {
          font-family: Nunito;
          font-weight: 700;
          line-height: 160%;
          font-size: 0.75rem;
          text-transform: uppercase;
        }

        >svg {
          font-size: 0.703rem;
        }
      }
    }

    p {
      font-family: Nunito;
      font-weight: 400;
      font-size: 1rem;
      line-height: 160%;
    }

    >p {
      color: var(--base-text);
    }

    .infoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1rem;
      width: 100%;

      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        >p {
          color: var(--base-subtitle);
        }

        >svg {
          color: var(--base-label);
          font-size: 1.125rem;

        }
      }
    }

  }

}