.homeContainer {
  margin-bottom: 14.625rem;

  .searchPostsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
    width: 100%;

    .formHeader {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      >strong {
        font-family: Nunito;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 160%;
        color: var(--base-subtitle);
        text-transform: capitalize;
      }

      >span {
        font-family: Nunito;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 160%;
        color: var(--base-span);
      }
    }

    >input {
      outline: none;
      background-color: var(--base-input);
      border-color: transparent;
      padding: 0.75rem 1rem;
      height: 3.125rem;
      border-radius: 6px;
      border-width: 1px;

      font-family: Nunito;
      font-weight: 400;
      font-size: 1rem;
      line-height: 160%;
      color: var(--base-text);
      transition: border-color 0.2s ease-in-out;


      &::placeholder {
        color: var(--base-label);
        font-size: 1rem;
        font-family: Nunito;
        font-weight: 400;
        line-height: 160%;
      }

      &:active,
      &:focus {
        border-color: var(--blue);
      }

    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2rem;
  }


}